html
    head
        title Super Blog
        meta(name='viewport',content="width=device-width")
        link(rel='styleSheet', type='text/css', href='/public/main.css')
    body
        block inlineCss
        header(role='banner')
            h1.center-text
                a(href='/') My Super Blog
            div.user-action-container
                if(user)
                    p Welcome
                        strong  #{user.username}
                ul(role='menu')
                    if(!user)
                        li(role='menuitem')
                            a(href='/login')
                                //svg(aria-hidden=true)
                                    //use(xlink:href='/public/icons/symbol-defs.svg#icon-user')
                                | Log in
                    if(user)
                        li(role='menuitem')
                            a(href='/logout') Log out

            form(method='get', action='/').search-form
                input(name='search',placeholder='search posts: title, content')#search-input
                button Search
        main
            block content
        footer.center-text
            p Laurent Renard copyright
        script(src='/public/main.js')
        //script(src='/public/icons/svgxuse.js',defer)